[paths]
# paths can have spaces, no quoting necessary
# input folder is where the folders 'jacobians', 'obs' and 'transcom' are
input folder = 
# output folder is where you want output to be stored
output folder = 

[plotting]
# this is very platform-dependent, uncomment and supply a font name (not path) to use custom font for all figure text
#figure font = 
